<div class='feature-table-row'>
  <div class='feature-table-cell'>
    <strong><%= feature.name %></strong>
    <p class='desc'><%= feature.desc %></p>
  </div>

  <% FeatureToggle.states.each do |state| %>
    <div class='feature-table-cell'>
      <input type="checkbox" class="checkbox" data-feature-name="<%= feature.name %>" data-state-name="<%= state.name %>" value="1" <%= 'checked' if turn_on_feature?(feature, state) %>>&nbsp;</input>
    </div>
  <% end %>
</div>

<% if feature.childrens && feature.childrens.size > 0 %>
  <% feature.childrens.each do |feature| %>
    <%= render partial: 'feature', locals: { feature: feature } %>
  <% end %>
<% end %>
